:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    background: white;
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.one-text {
    background: lightyellow;
    border-radius:10px;
    padding: 10px 30px 10px 30px;
    width: inherit;
    font-size: 1.2em;
}

.one-text .text {
    max-width: 30em;
    font-family: 'Noto Serif SC', serif;
    margin-top: 0px;
    line-height: 1.5em;
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: left;
}

.one-text .from-author {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.3em;
    text-align: right;
}

.one-text .from-work {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 0.7em;
    text-align: right;
    margin: 0 0 0 0;
    line-height: 1em;
    color: gray;
}

.one-text .from-time {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 0.5em;
    text-align: right;
    line-height: 1em;
    margin: 1em 0 1em 0;
    color: gray;
}

.item {
    padding: 10px 20px 10px 20px;
}
.container {
    overflow: hidden;
    position : absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.window {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.window .window-body {
    position: relative;
    margin: auto;
    max-width: 800px;
    max-height: 600px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}